@use '../../partials/global' as *;
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.favs {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80vw;
  height: 75vh;
  background-color: $OffWhite;
  border-color: $Black;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  z-index: 1000;
  padding: 16px;
  font-size: 0.8rem;

  @include tablet {
    font-size: 1rem;
    width: 60vw;
    height: 75vh;
  }

  &__heading {
    align-self: center;
    margin: 0;
    margin-top: 16px;
  }

  &__copy {
    margin: 0;
    margin-top: 16px;
  }

  &__close {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

.favDiv {
  border-top-style: solid;
  // border-bottom-style: solid;
  border-color: $Black;
  border-width: 1px;
  padding: 16px;
  box-sizing: border-box;

  &__infoDiv {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include favsText;
    margin: 0;
    margin-bottom: 8px;
  }

  &__link {
    @include favsText;
  }
}

.favHeader {
  @include favHeader;
  margin: 16px 0;
  align-self: center;
  color: $Purple;
}