@use '../../../partials/mixins' as *;

.monthInputField {
  /* width: var(--month-input-width); */
  @include tablet {
    width: 30%;
    min-width: 200px;
  }

  @include desktop {
    width: 30%;
    min-width: 200px;
  }

  // width: 170px;
  min-width: 140px;
  cursor: pointer;
  font-size: var(--month-input-font-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--month-input-padding);
  border-radius: 5px;
  border: 1px solid #0000005b;
  background: var(--input-bg-color);
  color: var(--input-text-color);
  /* margin-bottom: 1rem; */
  height: 44px;
}

.monthInputField:hover {
  background: var(--input-hover-bg-color);
}
