@use "../../partials/mixins" as *;
@use '../../partials/variables' as *;
@use '../../partials/global' as *;

.topNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 16px;
  color: $OffWhite;

  &__title {
    color: $HotPink;
    @include topNavTitle;
    // font-family: 'xshow', 'Times New Roman', Times, serif;
    margin: 16px 0;
  }

  &__div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    // border-radius: 1px;
    // border-style: solid;
    // border-color: $Pink;
    align-items: center;
    color: $HotPink;
    @include topnavText;
  }

  &__iconMap {
    // height: 48px;
    color: $OffWhite;
    height: 48px;
  }

  &__iconCalendar {
    // height: 48px;
    height: 40px;
  }

  &__iconUpload {
    // height: 48px;
    height: 40px;
  }
}