@use "../../partials/mixins" as *;
@use '../../partials/variables' as *;
@use '../../partials/global' as *;

main {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._pickerContainer_eqlhh_39 {
  z-index: 999;
}

.contentDiv {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  overflow: hidden;
}