@font-face {
  font-family: trueno;
  src: url(../assets/fonts/trueno/TruenoRg.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: trueno;
  src: url(../assets/fonts/trueno/TruenoBd.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: trueno;
  src: url(../assets/fonts/trueno/TruenoSBd.otf);
  font-weight: 600;
  font-style: normal;
}

